services:
{% for service in services %}
  {{ service.name }}-{{ service.index }}:
    image: "{{ service.image }}"
    container_name: {{ service.name}}-{{ service.index }}
    ports:
      - "{{ service.port }}:8080"
    command: [ "./wallet-entrypoint.sh" ]
    volumes:
      - ../wallet/{{ service.name }}/{{ service.index }}:/wallet
    environment:
      RUST_LOG: info
      LINERA_LISTENER_SKIP_PERMISSIONLESS_CHAIN: true
    restart: always
{% endfor %}
