// app global css in SCSS form

body.body--light
  --q-primary:          #{$primary-light}
  --q-secondary:        #{$secondary-light}
  --q-accent:           #{$accent-light}
  --q-dark:             #{$dark-light}
  --q-dark-secondary:   #{$dark-secondary-light}
  --q-dark-page:        #{$dark-secondary-light}
  --q-light:            #{$light-light}
  --q-neutral:          #{$neutral-light}
  --q-neutral-light:    #{$neutral-light-light}
  --q-danger:           #{$danger-light}
  --q-warning:          #{$warning-light}
  --q-mining:           #{$mining-light}
  --q-virtual:          #{$virtual-light}
  --q-new-token:        #{$new-token-light}
  --q-volume:           #{$volume-light}

body.body--dark
  --q-primary:          #{$primary-dark}
  --q-secondary:        #{$secondary-dark}
  --q-accent:           #{$accent-dark}
  --q-dark:             #{$dark-dark}
  --q-dark-secondary:   #{$dark-secondary-dark}
  --q-dark-page:        #{$dark-secondary-dark}
  --q-light:            #{$light-dark}
  --q-neutral:          #{$neutral-dark}
  --q-neutral-light:    #{$neutral-light-dark}
  --q-danger:           #{$danger-dark}
  --q-warning:          #{$warning-dark}
  --q-mining:           #{$mining-dark}
  --q-virtual:          #{$virtual-dark}
  --q-new-token:        #{$new-token-dark}
  --q-volume:           #{$volume-dark}

.bg-glass
  background: rgba(10, 14, 23, 0.85)
  backdrop-filter: blur(12px)
