<!doctype html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta
      name="keywords"
      content="Linera Meme, Linera Meme Swap, Linera DEX, Linera token, Linera mining, Linera microchain, Linera realtime trading"
    />
    <meta name="robots" content="index, follow" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <meta property="og:site_name" content="<%= productName %>" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= productName %>" />
    <meta property="og:description" content="<%= productDescription %>" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<%= productName %>" />
    <meta name="twitter:description" content="<%= productDescription %>" />

    <link rel="icon" type="image/ico" href="favicon.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
