apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-service
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-service
  template:
    metadata:
      labels:
        app: mysql-service
    spec:
      containers:
      - name: mysql-service
        image: mysql:8
        imagePullPolicy: IfNotPresent
        command:
        - /bin/sh
        - -c
        - |
          /usr/local/bin/docker-entrypoint.sh mysqld --mysql-native-password=ON
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-password-secret
              key: rootpassword
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-password-secret
              key: rootpassword
        - name: MYSQL_DATABASE
          valueFrom:
            configMapKeyRef:
              name: mysql-config
              key: MYSQL_DATABASE
        - name: MYSQL_USER
          valueFrom:
            configMapKeyRef:
              name: mysql-password-secret
              key: username
        volumeMounts:
        - name: mysql
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql
        persistentVolumeClaim:
          claimName: mysql-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: mysql-service
  namespace: kube-system
spec:
  ports:
    - name: mysql-service
      port: 3306
      targetPort: 3306
  selector:
    app: mysql-service
