services:
  maker:
    image: "kline"
    container_name: maker
    command: [ "./maker-entrypoint.sh" ]
    extra_hosts:
      - "api.lineraswap.fun:${LAN_IP}"
      - "api.linerameme.fun:${LAN_IP}"
    environment:
      SWAP_APPLICATION_ID: ${SWAP_APPLICATION_ID} 
      WALLET_HOST: ${WALLET_HOST}
      WALLET_OWNER: ${WALLET_OWNER}
      WALLET_CHAIN: ${WALLET_CHAIN}
      SWAP_HOST: ${SWAP_HOST}
      MEME_HOST: ${MEME_HOST}
