apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: blob-gateway-service
  namespace: kube-system
spec:
  serviceName: blob-gateway-service
  replicas: ${REPLICAS}
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      app: blob-gateway-service
  template:
    metadata:
      labels:
        app: blob-gateway-service
    spec:
      # topologySpreadConstraints:
      # - maxSkew: 1
      #   topologyKey: kubernetes.io/hostname
      #   whenUnsatisfiable: ScheduleAnyway
      #   labelSelector:
      #     matchLabels:
      #       app: blob-gateway-service
      restartPolicy: Always
      initContainers:
      - name: init-wallet
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          if [ -f /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.$POD_INDEX ]; then
            OWNER=$(cat /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.$POD_INDEX)
          fi
          if [ ! -f /wallet/wallet.json -o ! -f /wallet/keystore.json -o ! -f /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.$POD_INDEX -o -z "$OWNER" ]; then
            echo "No wallet found in pod $POD_INDEX, creating from $FAUCET_URL..."
            now=$(date -u | sed 's/ //g')
            mkdir -p /wallet/backup/$now
            cp -rf /wallet/wallet.json /wallet/keystore.json /wallet/backup/$now
            rm -rf /wallet/wallet.json /wallet/keystore.json
            rm -rf /wallet/client.db
            rm -rf /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID
            rm -rf /shared-app-data/BLOB_GATEWAY_APPLICATION_ID
            ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db wallet init --faucet ${FAUCET_URL}
            ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db wallet show
            if [ $? -ne 0 ]; then
              exit 1
            fi
            OWNER=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db keygen)
            echo $OWNER > /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.$POD_INDEX
          else
            echo "Wallet already exists, skipping init."
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: request-chain
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          if [ $POD_INDEX -eq 0 ]; then
            CHAINS=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db wallet show | awk 'BEGIN{count=0} /^Default owner:/ { if ($3 != "No") count++ } END { print count }')
            if [ -z "$CHAINS" -o $CHAINS -eq 0 -o ! -f /shared-app-data/BLOB_GATEWAY_CREATOR_WALLET_CHAIN_ID ]; then
              echo "No chain found in creator wallet, requesting ..."
              CHAIN_ID=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db wallet request-chain --faucet ${FAUCET_URL} | head -n 1)
              CHAINS=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db wallet show | awk 'BEGIN{count=0} /^Default owner:/ { if ($3 != "No") count++ } END { print count }')
              if [ -z "$CHAINS" -o $CHAINS -eq 0 ]; then
                echo "Failed request chain"
                exit 1
              fi
              echo $CHAIN_ID > /shared-app-data/BLOB_GATEWAY_CREATOR_WALLET_CHAIN_ID
            else
              echo "Chain already exists, skipping init."
            fi
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: publish-bytecode
        image: npool/linera-meme:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          if [ $POD_INDEX -eq 0 ]; then
            if [ -f /shared-app-data/BLOB_GATEWAY_MODULE_ID ]; then
              MODULE_ID=$(cat /shared-app-data/BLOB_GATEWAY_MODULE_ID)
            fi
            if [ ! -f /shared-app-data/BLOB_GATEWAY_MODULE_ID -o -z $MODULE_ID ]; then
              echo "Publishing bytecode ..."
              MODULE_ID=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db publish-module /bytecodes/blob_gateway_contract.wasm /bytecodes/blob_gateway_service.wasm)
              echo $MODULE_ID > /shared-app-data/BLOB_GATEWAY_MODULE_ID
            fi
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: open-multi-owners-chain
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          while [ ! -f /shared-app-data/BLOB_GATEWAY_CREATOR_WALLET_CHAIN_ID -o -z $CHAIN_ID ]; do
            CHAIN_ID=$(cat /shared-app-data/BLOB_GATEWAY_CREATOR_WALLET_CHAIN_ID)
            sleep 10
          done
          while true; do
            count=$(ls /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.* -l | wc -l)
            if [ $count -eq ${REPLICAS} ]; then
              break
            fi
            sleep 10
          done
          OWNERS=''
          for f in /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.*; do
            OWNER=$(cat "$f" | tr -d '\n')
            OWNERS="$OWNERS --owners $OWNER"
          done
          if [ -f /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID ]; then
            MULTI_OWNER_CHAIN_ID=$(cat /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID)
          fi
          if [ $POD_INDEX -eq 0 ]; then
            if [ ! -f /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID -o -z $MULTI_OWNER_CHAIN_ID ]; then
              echo "Open multi owners chain..."
              CHAIN_ID=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db open-multi-owner-chain --from $CHAIN_ID $OWNERS --multi-leader-rounds 100 --initial-balance "19.0")
              echo $CHAIN_ID > /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID
            fi
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: assign-multi-owners-chain
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          while [ ! -f /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID -o -z $CHAIN_ID ]; do
            CHAIN_ID=$(cat /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID)
            sleep 10
          done
          OWNER=$(cat /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.$POD_INDEX)
          echo "Assign multi owners chain..."
          ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db assign --owner $OWNER --chain-id $CHAIN_ID
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: set-multi-owners-chain-default
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          CHAIN_ID=$(cat /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID)
          echo "Set multi owners chain default..."
          ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db wallet set-default $CHAIN_ID
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: process-inbox-1
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          if [ $POD_INDEX -eq 0 ]; then
            echo "Processing inbox..."
            ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db process-inbox
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
      - name: create-application
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          CHAIN_ID=$(cat /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID)
          while [ ! -f /shared-app-data/BLOB_GATEWAY_MODULE_ID -o -z $MODULE_ID ]; do
            MODULE_ID=$(cat /shared-app-data/BLOB_GATEWAY_MODULE_ID)
            sleep 10
          done
          if [ $POD_INDEX -eq 0 ]; then
            if [ -f /shared-app-data/BLOB_GATEWAY_APPLICATION_ID ]; then
              APPLICATION_ID=$(cat /shared-app-data/BLOB_GATEWAY_APPLICATION_ID)
            fi
            if [ ! -f /shared-app-data/BLOB_GATEWAY_APPLICATION_ID -o -z $APPLICATION_ID ]; then
              echo "Creating application..."
              APPLICATION_ID=$(./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db create-application $MODULE_ID $CHAIN_ID)
              echo $APPLICATION_ID > /shared-app-data/BLOB_GATEWAY_APPLICATION_ID
            fi
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      - name: process-inbox-2
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          if [ $POD_INDEX -eq 0 ]; then
            echo "Processing inbox..."
            ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db process-inbox
           fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
      - name: change-multi-owners-chain-single-leader
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command:
        - /bin/sh
        - -c
        - |
          POD_INDEX=$(hostname | awk -F '-' '{print $NF}')
          CHAIN_ID=$(cat /shared-app-data/BLOB_GATEWAY_MULTI_OWNER_CHAIN_ID)
          OWNERS=''
          for f in /shared-app-data/BLOB_GATEWAY_WALLET_OWNER.*; do
            OWNER=$(cat "$f" | tr -d '\n')
            OWNERS="$OWNERS --owners $OWNER"
          done
          if [ $POD_INDEX -eq 0 ]; then
            echo "Change multi owners chain to single leader..."
            ./linera --wallet /wallet/wallet.json --keystore /wallet/keystore.json --storage rocksdb:/wallet/client.db change-ownership --chain-id $CHAIN_ID $OWNERS --multi-leader-rounds 0
          fi
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
      containers:
      - name: blob-gateway-service
        image: npool/linera-respeer:latest
        imagePullPolicy: Always
        command: ["/bin/sh", "-c", "./wallet-entrypoint.sh"]
        env:
        - name: RUST_LOG
          value: warn
        - name: LINERA_LISTENER_SKIP_PERMISSIONLESS_CHAIN
          value: "true"
        volumeMounts:
        - name: blob-gateway-pvc
          mountPath: /wallet
        - name: shared-app-data
          mountPath: /shared-app-data
        resources:
          requests:
            cpu: "100m"
            memory: "200Mi"
          limits:
            cpu: "150m"
            memory: "300Mi"
      volumes:
      - name: shared-app-data
        persistentVolumeClaim:
          claimName: shared-app-data
  volumeClaimTemplates:
    - metadata:
        name: blob-gateway-pvc
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 20Gi

---
apiVersion: v1
kind: Service
metadata:
  name: blob-gateway-service
  namespace: kube-system
spec:
  ports:
    - name: blob-gateway-service
      port: 8080
      targetPort: 8080
  selector:
    app: blob-gateway-service
