name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Linera Meme - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          toolchain: 1.86.0
          target: wasm32-unknown-unknown
      - name: Install bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - run: cargo test
      - run: cargo fmt --all -- --check
      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
      - run: cd webui-v2; bun install; wasm-pack build --out-dir ../dist/wasm --target web wasm; bun run build; bun prettier:check
